<!DOCTYPE html>
<html>
<head>
  <title>Rapid Rails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar({fixed:"top",inverse:true, responsive:true, brand: "RapidRails", brand_link: root_path}) do %>
    <%= menu_text "Serious Prototyping" %>
    <%= menu_item "Home", root_path %>
<% end %>
<%= bootstrap_flash %>
<div class="container">
	<%= yield %>
</div>
</body>
</html>